<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Previsma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="10">
          <ion-card-subtitle>Previsão do tempo</ion-card-subtitle>
          <ion-card-title>{{previsao.name}}</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon id="one" name="partly-sunny-outline"></ion-icon>
          <p>25°C</p>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">05/08</ion-label>
          <ion-label class="ion-text-wrap">17° 32°</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <h1>parNublado</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">06/08</ion-label>
          <ion-label class="ion-text-wrap">15° 31°</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <h1>parNublado</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">07/08</ion-label>
          <ion-label class="ion-text-wrap">16° 29°</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <h1>parNublado</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">08/08</ion-label>
          <ion-label class="ion-text-wrap">17° 29°</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="cloud-outline"></ion-icon>
            <h1>Nublado</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">09/08</ion-label>
          <ion-label class="ion-text-wrap">16° 22°</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="rainy-outline"></ion-icon>
            <h1>Chuvoso</h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

